[Unit]
Description=bws-adapter
After=local-fs.target

[Service]
RuntimeDirectory=bws
LoadCredentialEncrypted=bws-access-token:/etc/bws-adapter/bws-access-token.cred

[Container]
AutoUpdate=registry
ContainerName=bws-adapter
Image=ghcr.io/krzsztf/bws-adapter:latest
SecurityLabelType=container_bws_adapter_t
Volume=/run/bws:/run/bws
Volume=/run/credentials/bws-adapter.service:/run/secrets
Environment=BWS_ACCESS_TOKEN_FILE=/run/secrets/bws-access-token

[Install]
WantedBy=default.target
