policy_module(bws_adapter, 1.0.0)

########################################
#
# Declarations
#

require {
    type container_file_t;
    type init_t;
    type init_var_run_t;
    type var_run_t;
};

container_domain_template(container_bws_adapter, container)

###
#
# container_bws_adapter local policy
#

# Reading BWS access token from /run/credentials/bws-adapter.service
allow container_bws_adapter_t init_var_run_t:file read_file_perms;

# Listen to /run/bws/bws.sock
manage_sock_files_pattern(container_bws_adapter_t, var_run_t, var_run_t);

# Access Bitwarden API calls
corenet_tcp_connect_http_port(container_bws_adapter_t)

########################################
#
# Allow systemd to connect to BWS adapter socket
#
allow init_t container_bws_adapter_t:unix_stream_socket connectto;
